<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="books">
    <div class="panel-default well" th:each="book : ${books}">
        <div class="panel-heading">
            <h1 th:text="${book.title}"></h1>
        </div>
        <h3 th:text="${book.author}" class="panel-body">Description</h3>
        <div class="row panel-footer">
            <div th:inline="text" class="col-md-2">Price: [[${book.price}]] $</div>
            <div th:inline="text" class="col-md-9">In Stock: [[${book.quantity}]]</div>
            <a th:href="@{/book(bookId=${book.id})}" class="btn glyphicon glyphicon-music">See more</a>
        </div>
        <br></br>
    </div>
</div>

</body>
</html>