<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>


<div class="container">

    <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/saveBook}"
                  th:object="${book}" method="post" role="form">

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                           class="alert alert-danger"></label>
                    <input type="text" th:field="*{title}" placeholder="Title"
                           class="form-control input-lg"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                           class="alert alert-danger"></label>
                    <input type="text" th:field="*{author}" placeholder="Author"
                           class="form-control input-lg"/>
                </div>

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                           class="alert alert-danger"></label>
                    <input type="text" th:field="*{price}" placeholder="Price"
                           class="form-control input-lg"/>
                </div>


                <div class="form-group">
                    <label th:if="${#fields.hasErrors('image')}" th:errors="*{image}"
                           class="alert alert-danger"></label>
                    <input type="text" th:field="*{image}" placeholder="Image"
                           class="form-control input-lg"/>
                </div>

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                           class="alert alert-danger"></label>
                    <input type="text" th:field="*{quantity}" placeholder="Quantity"
                           class="form-control input-lg"/>
                </div>

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"
                           class="alert alert-danger"></label>
                    <input type="text" th:field="*{subject}" placeholder="Subject"
                           class="form-control input-lg"/>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="float: none; margin: 0 auto;">
                        <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>